<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56278070555-pb7tl75g2ro283uje0hb11eh324fgbqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56278070555-pb7tl75g2ro283uje0hb11eh324fgbqv</string>
	<key>API_KEY</key>
	<string>AIzaSyAlLEAoMPsjmcGfxICqrAb8XjRbL_xG8qY</string>
	<key>GCM_SENDER_ID</key>
	<string>56278070555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tts.TTSBuyer</string>
	<key>PROJECT_ID</key>
	<string>petty-607e9</string>
	<key>STORAGE_BUCKET</key>
	<string>petty-607e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56278070555:ios:49516373ea137150b68fbe</string>
	<key>DATABASE_URL</key>
	<string>https://petty-607e9.firebaseio.com</string>
</dict>
</plist>